<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/init-state.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/ws-chat-client.js"></script>
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <section id="info">
    <p>Let's join the chat!</p>
  </section>

  <section id="join" class="left">
    <form action="" id="join_form">
      <fieldset>
        <legend>Join</legend>
        <label for="name">Name: </label><input type="text" id="name" name="name" />
        <input type="submit" value="Join" />
      </fieldset>
    </form>
  </section>

  <section id="joined" class="joined">
    <p>Your are joined as <span id="screen_name"></span>. <a href="#" id="leave">Leave</a></p>
  </section>

  <section id="post" class="joined">
    <form action="" id="post_form">
      <fieldset>
        <legend>Post</legend>
        <label for="message">Message: </label><input type="text" id="message" name="message" />
        <input type="submit" value="Post" />
      </fieldset>
    </form>
  </section>

  <section id="log">
  </section>
</body>
</html>
